@import './utils/variables';
@import './utils/mixins';
/* #region header */
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;


  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin: 0;
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0px;
    padding-bottom: 40px;
    @include contentPaddingInline;

    color: $main-text-color;
  }

  &__bottom {
    padding-bottom: 40px;
    @include contentPaddingInline;
  }
}
/* #endregion */
/* #region section-title */
.section-title {
  margin: 0;
  margin-bottom: 48px;

  font-weight: 700px;
  font-style: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;

  @include onTablet {
    margin-bottom: 64px;
    font-style: 40px;
  }

  @include onDesktop {
    font-style: 48px;
  }
}
/* #endregion */
/* #region menu */




.top-bar {
  padding-block: 24px;
  @include contentPaddingInline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-block: 24px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo {
    display: flex;
  }
}

.menu {
  box-sizing: border-box;

  height: 100vh;
  background-color: #fff;
  font-weight: 700;

  &__top {
    margin-bottom: 32px;
  }

  &__nav {
    margin-bottom: 40px;
    margin: 0;
    padding: 0;

  }

  &__content {
    @include contentPaddingInline;

  }

  &__phone-number {
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    margin-bottom: 16px;
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 1px solid #1b2129;

    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
  }


}
/* #endregion */
/* #region main */
.main {
  display: grid;
  row-gap: 96px;
  padding-block:96px;

}

@include contentPaddingInline;

@include onTablet {
  padding-block: 120px;
  row-gap: 120px;
}

/* #endregion */
/* #region recommended */
.recommended {
  margin: 0;

  &__products {
  display: grid;
  row-gap: 40px;
  }

  @include onTablet {
    justify-items: center ;

  }

  @include onDesktop {
    justify-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
  }
}
/* #endregion */
/* #region products */
.product {
  &__photo {
  width: 100%;
}
}
/* #endregion */
/* #region icon */
.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;

  @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/icons/icon-phone.png);
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.png);
  }

  &--close {
    background-image: url(../images/icons/icon-close.png);
  }
}
/* #endregion */
/* #region footer */
/* #endregion */
/* #region nav */
.nav {
  &__link {
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0;
  }

  &__list {
    margin-bottom: 48px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-decoration: none;
    list-style: none;

}

&__item {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

 }

/* #endregion */
/* #region page */
.page {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #1b2129;

  scroll-behavior: smooth;

  &__page__body {
    margin: 0;
  }

  &__page__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;

    &:target {
      opacity: 1;
      pointer-events: all;
    }
  }
}
/* #endregion */
