@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin contentPaddingInline() {
  padding-inline: 20px;

  @include onTablet {
    padding: 72px;
  }

  @include onDesktop() {
    min-width: 1020px;
    margin-inline: auto ;

  }
}

.container {
@include  contentPaddingInline;

}
